.about{
    background-color: lightpink;
    display: flex; //to use flex kat bawah kene kat sini type display flex tu
     
    .wrapper{
        
        overflow: hidden;
        display: grid;
        justify-content: center;
        align-items:center;
        margin: auto;
            
    }
       
}
    
   